body {
    font-family: georgia;
    font-size: 2em;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}

.background img {
    height: 100%;
    filter: saturate(0.7);
}

.wrapper {
    position: relative;
    padding: 0 50px;
    background-color: transparent;
}

.row {
    background-color: white;
    display: flex;
    align-items: center;
    padding-top: 0.5rem !important;
}

.text {
    padding: 12px;
}

h1 {
    letter-spacing: 1px;
}

/* .text-left, .image-left {
    margin-left: 5rem !important;
}

.text-right, .image-right {
    margin-right: 5rem !important;
} */

#img-right-1-cont, #img-right-3-cont {
    box-shadow: -10px 10px 0px 0px lightcoral
}

#img-left-2-cont {
    box-shadow: 10px 10px 0px 0px lightblue
}

#title-2, #title-3 {
    padding-top: 0;
}

.img-cont {
    overflow: hidden;
    height: 300px;
}

.title-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    /* clip-path: polygon(100% 0%, 86% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
}

button {
    border-radius: 50px;
    border: none;
    padding: 0px 34px;
    margin-top: 20px;
}

button.btn-orange {
    color: white;
    background-color: orange;
}