:root {
    --logo-blue: #217dc0;
    --nav-color: #6a81af;
}

.large {
    display: none;
}

#right-band {
    background-color: #cfd5d8;
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

nav, #main {
    position: relative;
}

nav {
    margin-bottom: 1rem;
}

nav a, nav a:hover {
    text-decoration: none;
}

nav .logo {
    width: 2.5rem;
    margin: 0.3rem;
}

#mobile-nav-menu {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#mobile-nav-menu span {
    display: block;
    font-weight: bold;
    color: white;
    line-height: 2;
    font-size: 2rem;
}

#mobile-nav-menu.displayed {
    display: block;
}

#nav-close {
    margin-right: 0;
    font-size: 4rem;
    float: right;
}

@media(min-width: 800px) {
    .large {
        display: block;
    }

    .mobile {
        display: none;
    }

    #large-nav-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #large-nav-menu a {
        color: var(--nav-color);
    }

    #large-nav-menu span {
        font-size: 1rem;
    }

    #large-nav-menu #nav-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #large-nav-menu #nav-home span {
        text-transform: uppercase;
        font-size: 1.8rem;
    }
}

/* section 1 */

#section-1 img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#section-1 .text {
    color: #788db6;
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

@media (min-width: 600px) {

    #section-1 {
        height: 20rem;
    }

    #section-1 img {
        position: absolute;
        height: 100%;
    }

    #section-1 .text {
        color: white;
        margin-left: 60%;
        position: relative;
        height: 100%;
        justify-content: center;
        margin: auto 10% auto 60%;
        display: flex;
        flex-direction: column;
    }
    
    #section-1 .text div:first-child {
        margin-top: -30px;
    }

}

