body {
    /* font-family: georgia; */
    font-size: 2em;
}

nav {
    text-align: right;
    padding: 1em 0;
}

#navigation-1 {
    font-size: 0.8em;
}

#navigation-1 span {
    padding: 1em;
}

#navigation-2 {
    font-size: 1em;
}

#navigation-2 span {
    padding: 1.5em;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}

.background img {
    height: 100%;
    filter: saturate(0.7);
}

.wrapper {
    position: relative;
    padding: 0 50px;
    background-color: transparent;
}

.wrapper-inner {
    background-color: white;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 0.5rem !important;
}

.text {
    padding: 36px 12px;
}

h1 {
    letter-spacing: 1px;
}

/* .text-left, .image-left {
    margin-left: 5rem !important;
}

.text-right, .image-right {
    margin-right: 5rem !important;
} */

#img-right-1-cont, #img-right-3-cont {
    box-shadow: -10px 10px 0px 0px lightcoral
}

#img-left-2-cont {
    box-shadow: 10px 10px 0px 0px lightblue
}

#title-2, #title-3 {
    padding-top: 0;
}

.img-cont {
    overflow: hidden;
    height: 300px;
}

.title-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    /* clip-path: polygon(100% 0%, 86% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); */
}

button {
    border-radius: 50px;
    border: none;
    padding: 0px 34px;
    margin-top: 20px;
}

button.btn-orange {
    color: white;
    background-color: orange;
}

#title-1, #title-3 {
    background-color: rgba(240, 128, 128, 0.225);
    background: rgb(193,87,122);
    background: linear-gradient(90deg, rgba(193,87,122,1) 0%, rgba(158,196,228,1) 100%);
    background: linear-gradient(90deg, rgba(193,87,122,0.4) 0%, rgba(158,196,228,0.4) 100%);
    background: linear-gradient(90deg, white 0%, rgba(193,87,122,0.4) 100%);
}


#title-2 {
    background-color: rgba(173, 216, 230, 0.225);
    background: rgb(193,87,122);
    background: linear-gradient(90deg, rgba(158,196,228,1) 0%, rgba(193,87,122,1) 100%);
    background: linear-gradient(90deg, rgba(158,196,228,0.4) 0%, rgba(193,87,122,0.4) 100%);
    background: linear-gradient(90deg, rgba(158,196,228,0.4) 0%, white 100%);
}

nav {
    background: rgb(193,87,122);
    background: linear-gradient(90deg, rgba(193,87,122,1) 0%, rgba(158,196,228,1) 100%);
    background: linear-gradient(90deg, rgba(193,87,122,0.4) 0%, rgba(158,196,228,0.4) 100%);
}